POSTGRES_DB=fitness
POSTGRES_USER=fitness
POSTGRES_PASSWORD=fitness_dev
POSTGRES_PORT=5432

JWT_SECRET_BASE64=
JWT_EXPIRATION=PT8H

AUTH_COOKIE_NAME=AUTH_TOKEN
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax